<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhj.spring.mapper.UserMapper">

    <select id="select" resultType="com.yhj.spring.bean.User">
        SELECT * FROM stus WHERE id LIKE #{id,jdbcType=VARCHAR} || '%'
    </select>

    <select id="userList" resultType="com.yhj.spring.bean.User">
        SELECT * FROM stus
    </select>

    <insert id="save" parameterType="string">
        INSERT INTO stus VALUES (NULL ,#{username},#{password})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM stus WHERE id = #{id}
    </delete>

    <select id="findUserById" resultType="com.yhj.spring.bean.User">
        SELECT  * FROM stus WHERE id = #{id}
    </select>

    <update id="update" parameterType="user">
        UPDATE stus set username=#{username},password=#{password} WHERE id = #{id}
    </update>

</mapper>